<div class="component">
  <app-form-component></app-form-component>
</div>
<div class="container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
  <div class="box">
    <div class="box-title" fxLayout="column" fxLayoutAlign="center center"><span>TODO</span></div>
    
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of movies;let i=index" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{i+1}}.{{movie}} 
        <div> <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-title" fxLayout="column" fxLayoutAlign="center center"><span>SELECTED TODO</span>
      
     
    </div>
    <div class="example-list"> 
      <div class="example-box">1.HIII
        <div> <button mat-icon-button>
          <mat-icon>close</mat-icon>
        </button></div>
      </div>
    </div>
        
  </div>
</div>

